@import url('https://fonts.googleapis.com/css?family=Roboto');

@gen-font-family: 'Roboto', sans-serif; // main font
@theme-color: #0d99b7;
@errors: #f95446;
@grey-background: #f6f7f8;
@borders-dividers: #dadada;
@warnings: #fed455;
@success: #a0c263;
@titles: #000;
@primary-text: rgba(0, 0, 0, 0.9);
@secondary-text: rgba(0, 0, 0, 0.6);
@third-text: rgba(0, 0, 0, 0.4);
@white: #fff;


.car-wash {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	text-align: center;
}
.marginator.add {
	height: 20px;
}

.wash-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	padding: 27px 20px;
	border: 1px solid @borders-dividers;
	border-radius: 4px;
	h3 {
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	h1 {color: @theme-color;}
	.tk-time {
		margin: 12px 0;
		padding: 12px 0;
		border: 1px solid @borders-dividers;
		border-left: 0;
		border-right: 0;
		color: @third-text;
	}
	ul li {
		margin-bottom: 10px;
	}
}

.add-content {
	table {
		width: 100%;
		border-collapse: collapse;
		border-left: 1px solid @borders-dividers;
		border-right: 1px solid @borders-dividers;
	}
	tr td {
		text-align: center;
		padding: 10px 20px;
		border: 1px solid @borders-dividers;
		border-left: none; border-right: none;
		&:first-child {
			text-align: left;
			width: 300px;
		}
	}
	.more {
		display: inline-block;
		margin-left: 10px;
		cursor: pointer;
		color: @theme-color;
	}
}

.hidden-text {
	display: none;
	margin-top: 10px;
}
.hidden-text.show {display: inline-block;}