@import url('https://fonts.googleapis.com/css?family=Roboto');

@gen-font-family: 'Roboto', sans-serif; // main font
@theme-color: #0d99b7;
@errors: #f95446;
@grey-background: #f6f7f8;
@borders-dividers: #dadada;
@warnings: #fed455;
@success: #a0c263;
@titles: #000;
@primary-text: #333;
@secondary-text: #666;
@third-text: #999;

* {
	margin: 0;
	padding: 0;
	overflow: auto;
	text-decoration: none;
}
body {
	color: @primary-text;
	font: 14px @gen-font-family;
	font-weight: 400;
	background: linear-gradient(to right, #fff 70%, @grey-background 30%);
}
h1, h2, h3, h4, h5, h6 {
	color: @titles;
	font-weight: 400;
}
a, a:hover, a:active, a:visited {
	color: @theme-color;
}
input {font-size: inherit;}
label {color: @third-text;}

.align-left {float: left;}
.align-right {float: right;}
// =================== content position styles ===================
.gwrap { // global wrapper
	max-width: 1280px;
	margin: 0 auto;
}
.lside { // left side of the page
	width: 67%;
	max-width: 860px;
	background: #fff;
	.col-cnt {margin: 0 50px;}
}
.rside { // right side of the page
	width: 33%;
	max-width: 420px;
	background: @grey-background;
	.col-cnt {
		margin: 0 30px;
		.marginator {
			width: 100%;
			height: 50px;
		}
		.row {margin-bottom: 5px;}
	}
}
.lside, .rside {
	height: 100vh;
	float: right;
}
.col-cnt {padding-top: 40px;}
// =================== stiles for right side content ===================
.totals {
	.totals-cnt {
		border-top: 1px solid @borders-dividers;
		border-bottom: 1px solid @borders-dividers;
		margin: 26px 0;
		padding: 10px 0;
	}
}
.txtl {float: left;}
.txtr {float: right;}

.help {
	h2 {margin-bottom: 26px;}
}
.arrow {
	display: none;
}
// =================== header styles ===================

.header.header-hidden {display: none;}

.header {
	.align-right {line-height: 47px;}
	.log-wrap {
		display: inline-block;
		line-height: 18px;
	}
	a #Group #Shape:first-child {fill: @theme-color;}
}

.smenu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 35px 0;
}

.smenu-item {
	text-align: center;
	&:first-child {
		border-bottom: 2px solid @theme-color;
		color: @theme-color;
		#Group #Shape:first-child {fill: @theme-color;}
	}
	img {width: 24px; height: 24px;}
	&.separator {
		img {width: 10px;}
	}
}

form {
	div {
		position: relative;
		padding-top: 22px;
	}
	input, select {
		width: 100%;
		padding: 10px 0;
		box-sizing: border-box;
		border: none;
		border-bottom: 1px solid @borders-dividers;
		background: transparent;	
		&:focus, &:valid {
			outline: none;
			border-bottom-color: @theme-color;
		}
		&:focus + label[for^='loc-'], &:valid + label[for^='loc-']{
			top: 18%;
			font-size: 12px;
			color: @theme-color;
		}
	}
	label[for^='loc-'] {
		position: absolute;
		top: 52%;
		left: 0;
		cursor: text;
		transition: .2s ease-out;
	}
	select {height: 53px;}
	.selector {
		margin: 0;
		padding: 0;
		&:after {
			position:absolute;
			content: url(svg/arrow_down_24px.svg);
			top: 0;
			right: 0;
			width: 20px;
			height: 52px;
			padding-top: 19px;
			z-index: 1;
			box-sizing: border-box;
			text-align: center;
			color:#000;
			pointer-events: none;
			background: #fff;
		}
		option {background: transparent;}
	}
	.marginator {width: 4%; height: 10px;}
	.bhalf {width: 68%;}
	.shalf {
		width: 28%;
	}
}

.buttons {
	padding-top: 40px;
	.align-right {width: 40%;}
	.align-left {line-height: 50px;}
}

.btn {
	width: 100%;
	height: 50px;
    border-radius: 50px;
    background-color: @theme-color;
    border: 1px solid @theme-color;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 21px;
}
.txtr.hidden {display: none;}
.hidden {display: block;}






// =================== MOBILE STYLES ===================
@media only screen and (max-width: 780px) {
	.header {display: none;}
	.header.header-hidden {
		display: block;
		background: #fff;
		padding: 10px 20px;
	}
	.lside, .rside {
		max-width: 100%;
		width: 100%;
		height: auto;
		float: none;
		.col-cnt {margin: 0 20px;}
	}
	.lside {
		height: 100vh;
		.col-cnt {padding-top: 0;}
	}
	.rside {
			border-top: 1px solid @borders-dividers;
			border-bottom: 1px solid @borders-dividers;
		.col-cnt {
			padding: 18px 0;
			.txtr.hidden {display: block;}
		}
	}
	.totals {
		h2:first-child {
			position: relative;
			color: @theme-color;
			padding-right: 26px;
			cursor: pointer;
			font-size: 16px;
			.arrow {
				display: block;
				position: absolute;
				border-left: 6px solid transparent;
  				border-right: 6px solid transparent;
  				border-top: 8px solid @theme-color;
				top: 7px;
				left: 80px;
			}
		}
	}
	.hidden {display: none;}
	.smenu-item {
		.item-name {display: none;}
	}
	form {
		.marginator {display: none;}
		.bhalf, .shalf {
			float: none;
			width: 100%;
		}
	}
	.buttons {
		.align-left, .align-right {
			float: none;
			width: 100%;
			text-align: center;
		}
	}
}







