@import url('https://fonts.googleapis.com/css?family=Roboto');

@gen-font-family: 'Roboto', sans-serif; // main font
@theme-color: #0d99b7;
@errors: #f95446;
@grey-background: #f6f7f8;
@borders-dividers: #dadada;
@warnings: #fed455;
@success: #a0c263;
@titles: #000;
@primary-text: rgba(0, 0, 0, 0.9);
@secondary-text: rgba(0, 0, 0, 0.6);
@third-text: rgba(0, 0, 0, 0.4);
@white: #fff;

.service-wrap {
	.btn {
		color: @primary-text;
		background: @white;
		border-color: @borders-dividers;
	}
	.more, .details {
		display: inline-block;
		margin-left: 10px;
		cursor: pointer;
		color: @theme-color;
	}
	.details {display: none;}
	svg {
			position: relative;
			top: 2px;
			width: 14px;
			height: auto;
		}
	path {fill: @third-text;}
}

.car-wash {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-top: 23px;
	text-align: center;
}
.marginator.add {
	height: 35px;
}

.wash-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	padding: 20px;
	border: 1px solid @borders-dividers;
	border-radius: 4px;
	h3 {
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	h1 {color: @theme-color;}
	.tk-time {
		margin: 12px 0;
		padding: 12px 0;
		border: 1px solid @borders-dividers;
		border-left: 0;
		border-right: 0;
		color: @third-text;
	}
	ul li {
		margin-bottom: 10px;
	}
}

input.switch {display: none;}

td label.switch{width: 140px;}

label.switch {
	display: inline-block;
	background-color: @white;
	color: @primary-text;
	cursor: pointer;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	transition: all 0.1s ease-in-out;
}

input.switch:checked + label.switch {
	color: @white;
	background-color: @theme-color;
	border-color: @theme-color;
}

input.switch:checked + label.switch:after {content: 'ed';}

.add-content {
	table {
		width: 100%;
		border-collapse: collapse;
		border-left: 1px solid @borders-dividers;
		border-right: 1px solid @borders-dividers;
		margin-top: 27px;
	}
	tr td {
		text-align: center;
		padding: 14px 20px;
		border: 1px solid @borders-dividers;
		border-left: none; border-right: none;
		&.clear-fix {display: none;}
		&:first-child {
			text-align: left;
			width: 394px;
		}
	}
}

.hidden-text {
	display: none;
	margin-top: 10px;
}

.hidden-text.show {display: inline-block;}

.time-money {
	min-width: 66px;
	color: @third-text;
	svg {
		text-align: left;
	}
}
// ===================================================================
.first-part {
	padding-top: 0;
	margin-left: 20px;
	.radio-button {
		padding: 0;
		margin: 0;
		position: absolute;
		top: 25px;
		left: -24px;
		&.rad2 {top: 17px;}
		input {display: none;}
		label {
			display: block;
			width: 18px;
			height: 18px;
			background: @white;
			border: 2px solid @borders-dividers;
			border-radius: 50%;
			span {
				display: none;
				margin: 2px auto;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: @theme-color;
			}
		}
		input[type="radio"]:checked + label {
			border-color: @theme-color;
			span {display: block;}
		}
	}
	.card {
		position: absolute;
		top: 20px;
		right: 0;
	}
	.dropdown ul {
		max-height: 136px;
		overflow: auto;
		box-shadow: 0px 3px 10px @theme-color;
	}
}

.first-part {
	margin-bottom: 46px;
	.cardpart {
		margin: 0;
		padding: 0;
		&.hidden {display: none;}
	}
	.dropdown, .code {
		display: inline-block;
		max-width: 140px;
		width: 100%;
		margin-right: 20px;
		&:last-child {margin-right: 0;}
	}/*
	.bubble {
		width: 20px;
		height: 20px;
		margin: 0;
		padding: 0;
		position: relative;
		top: 1px;
		right: 1px;
		border: 2px solid @theme-color;
		border-radius: 50%;
		text-align: center;
	} */
	img {
		position: relative;
		top: 8px;
		left: 8px;
	}
	.marginator {
		height: 24px;
	}
}

.card-details {
	width: 45%;
	float: left;
	margin-right: 5%;
	&.none {margin-right: 0;}
	.special {
		padding: 25px 24px 25px 0;
		box-sizing: border-box;
	}
}
// ===================================================================
.order-details {
	margin-top: 26px;
	.txtl {
		width: 70%;
		span {color: @secondary-text;}
		svg {
			position: relative;
			top: 3px;
			left: 0;
			min-width: 21px;
			height: 14px;
			margin-right: 10px;
			path {fill: @primary-text;}
		}
	}
	.txtr {
		width: 30%;
		text-align: right;
		svg {
			width: 16px;
			height: 16px;
			position: relative;
			top: 3px;
			left: 0;
			path {fill: @theme-color;}
		}
	}
	.block {
		padding-bottom: 40px;
		border-bottom: 1px solid @borders-dividers;
		&:last-child {
			margin: 16px 0;
			padding-bottom: 20px;
		}
	}
	.row {
		margin: 0 0 13px 0;
		.txtl {display: flex;}
		&:last-child {margin: 0;}
	}
}

.warn {
	font-size: 12px;
	line-height: 17px;
}

.basic {margin-bottom: 5px;}

@media only screen and (max-width: 780px) {
	.car-wash {display: block;}
	.wash-item {
		width: 100%;
		margin-bottom: 20px;
		ul {display: none;}
		ul.show {display: block;}
		.details {
			display: inline-block;
			margin-bottom: 10px;
		}
	}

	.add-content {
		table {
			border: none;
		tr {
			display: block;
			margin-bottom: 20px;
			padding: 10px;
			border: 1px solid @borders-dividers;
			border-radius: 4px;
			td.clear-fix {display: block;}
		}
			tr td, tr td:first-child {
				width: 100%;
				display: block;
				text-align: center;
				border: none;
				padding: 0;
			}
		}
		tr td.time-money {
			float: left;
			width: 50%;
			margin: 10px 0;
		}
	}
	.first-part {
		.card-details {
			width: 100%;
			clear: both;
			margin-right: 0;
		}
		.dropdown, .code {
			width: 45%;
			max-width: none;
			margin-right: 0;
		}
		.code {display: block;}
		.marg {margin-right: 8.5%;}
	}
}